[defaults]
inventory            = inventory/hosts.ini
roles_path           = roles
collections_path     = ~/.ansible/collections
host_key_checking    = False
stdout_callback      = default
result_format        = yaml
callbacks_enabled    = profile_tasks
retry_files_enabled  = False
interpreter_python   = auto_silent
display_skipped_hosts = False
forks                = 10

[ssh_connection]
pipelining = True
ssh_args   = -o ControlMaster=auto -o ControlPersist=300s -o ServerAliveInterval=30
